FR/GTC/wsdl/PCtestWSService_schema1.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:tns="http://PtestWS/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://PtestWS/" version="1.0">
<xs:element name="methode" type="tns:methode"/>
<xs:element name="methodeResponse" type="tns:methodeResponse"/>
<xs:complexType name="methode">
    <xs:sequence/>
  </xs:complexType>
<xs:complexType name="methodeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
